n8n/workflows/Backup-0wPpNGQoQScjk0Ja
{"createdAt":"2025-05-13T22:49:20.556Z","updatedAt":"2025-05-13T22:53:32.896Z","id":"0wPpNGQoQScjk0Ja","name":"Backup","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"a8f732a7-2e3a-4731-9971-744b585c3dd7","name":"When clicking ‘Test workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[220,0],"id":"7c71f6bf-5f2e-494a-b8b2-ebd331d83055","name":"n8n","credentials":{"n8nApi":{"id":"mxdQKLqDFlaxP7Jh","name":"n8n account"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name.replace(/\\s/g, '-') }}-{{ $json.id }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[440,0],"id":"ced5380a-a1e2-474d-adb4-e358c64cc915","name":"Convert to File"},{"parameters":{"operation":"write","fileName":"=/backup/{{ $binary.data.fileName }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[640,0],"id":"508eaf3c-40be-4c07-bf4e-9a65bb0ef445","name":"Read/Write Files from Disk"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2920c4c2-5359-4c18-9009-cae4af37e15b","triggerCount":0,"tags":[]}