n8n/workflows/Chat-Ox0D8aULXrSk6UvZ
{"createdAt":"2025-05-12T02:29:16.976Z","updatedAt":"2025-05-22T23:39:55.733Z","id":"Ox0D8aULXrSk6UvZ","name":"Chat","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"chat","responseMode":"lastNode","options":{"binaryPropertyName":"files","ignoreBots":true}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2920,900],"id":"3a0ce433-1859-460d-9626-743e784d01a9","name":"Webhook","webhookId":"85a6a0d6-402b-451c-9c0a-93957a245e34"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[860,80],"id":"23f86a4e-e316-447a-b8ac-6d5c0872de34","name":"Basic LLM Chain"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"448647db-a9ad-4180-a9bb-2a33e552d721","leftValue":"={{ $json.model }}","rightValue":"Auto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[360,80],"id":"c0e2934b-23c1-45ff-ba87-b06c4e870217","name":"Auto Model"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.agent }}","rightValue":"gemini","operator":{"type":"string","operation":"equals"},"id":"ac1db26f-7d5e-413f-b00c-1ab390c98eae"}],"combinator":"and"},"renameOutput":true,"outputKey":"Gemini"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1ed29da3-a6bc-492f-8d2d-c68c447e47f9","leftValue":"={{ $json.agent }}","rightValue":"A&G","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"A&G AI"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b0d09d53-bbfd-4364-bfa3-c8d36a310c87","leftValue":"={{ $json.agent }}","rightValue":"N8N","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"N8N"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[80,840],"id":"1e107f67-a178-4f5a-b187-ef4d15bb4825","name":"Check Model"},{"parameters":{"workflowId":{"__rl":true,"value":"hnfYR14LR9bMHLnf","mode":"list","cachedResultName":"Gemini Dynamic Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"prompt":"={{ $('Set Agent Input').item.json.prompt }}","sessionId":"{{ $('Webhook').item.json.body.sessionId ?  $('Webhook').item.json.body.sessionId : 'generic' }}"},"matchingColumns":[],"schema":[{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"sessionId","displayName":"sessionId","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[920,-100],"id":"aa865caf-5bed-462e-a30f-cf24ae46d090","name":"Gemini Dynamic"},{"parameters":{"promptType":"define","text":"={{ $('Set Agent Input').item.json.prompt }}","options":{"systemMessage":"=You are a helpful assistant.\nUse the tools available if they match the user request, ignore the tools otherwise.\ntoday's date is  '{{ $today.format('dd-MMM-yyyy') }}'"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[800,400],"id":"e6bd43c3-dcc3-4f4c-865e-68d961360796","name":"AI Agent"},{"parameters":{"modelName":"={{ $json.model }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[880,240],"id":"32c09857-f4fa-4d8b-845d-289a3cbac857","name":"Dynamic Model","credentials":{"googlePalmApi":{"id":"IKgE6TeBWwJejVu3","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sseEndpoint":"http://n8n:5678/mcp/personal/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[1040,600],"id":"a2bd4110-6866-4291-8166-1f15703ddc11","name":"MCP Personal"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17-thinking","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[780,600],"id":"c2ed9d22-9053-4939-af22-ec7600d10b0d","name":"Gemini 2.5","credentials":{"googlePalmApi":{"id":"IKgE6TeBWwJejVu3","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Set Agent Input').item.json.sessionId }}","contextWindowLength":3},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[880,600],"id":"ea779f3a-28b6-4d53-a97b-4b14b4b3aff9","name":"Memory","credentials":{"postgres":{"id":"7HcLObtYR7CTyRNA","name":"Postgres account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1160,600],"id":"fe55be64-936e-43b5-a3f6-c9b856e0d595","name":"Think"},{"parameters":{"method":"POST","url":"=https://agai-platform-api.dev.int.proquest.com{{ $json.model }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"max_tokens","value":"={{ parseInt('200') }}"},{"name":"temperature","value":"={{ parseFloat('0.7') }}"},{"name":"num_results","value":"={{ parseInt('1') }}"},{"name":"streaming","value":"False"},{"name":"prompt","value":"={{ $json.prompt }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,840],"id":"982c8145-9356-4745-bf9c-3e2f148038ed","name":"Query Model","credentials":{"httpHeaderAuth":{"id":"G2YEUtOcE1s9Omfb","name":"A&G AI Platform"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"7b9efe3c-5dad-4468-913f-c83b06f501fd","name":"output","value":"={{ $json.results[0].completion }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1240,840],"id":"19731a3b-77e2-4e59-b91e-df4a42a24e06","name":"Set output"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.text ? $json.text : $json.output }}","destinationKey":"output","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[2160,680],"id":"5a9ccbed-f50e-4e23-bb3f-154bcfaf31d5","name":"Markdown"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0910b4e1-0c2d-4aa6-a9f5-20f6a1b24f29","leftValue":"={{ $binary }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2460,660],"id":"465661fb-1da2-4f8a-85f1-668409c6961d","name":"Has Attachments"},{"parameters":{"content":"## Gemini Models\n","height":880,"width":1560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,-140],"id":"682ab86e-6dc0-4c33-a3cd-566347f9ee83","name":"Sticky Note"},{"parameters":{"content":"## A&G AI Platform\n","height":220,"width":1560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,780],"id":"49c58a1b-ba60-4343-9bac-05f852cb2f11","name":"Sticky Note1"},{"parameters":{"assignments":{"assignments":[{"id":"04842c2f-bc09-4a0e-b393-975f8e8871d3","name":"agent","value":"={{ $('Webhook').first().json.body.agent }}","type":"string"},{"id":"41f6bf39-54d2-400e-a309-a22e46dba20a","name":"model","value":"={{ $('Webhook').first().json.body.model }}","type":"string"},{"id":"8ba2f6f1-3c5f-47f6-a2d3-490e3b985096","name":"prompt","value":"={{ $('Merge file prompts').isExecuted && $('Merge file prompts').first().json.prompt ? $('Merge file prompts').first().json.prompt  + '\\n': '' }} \n\n{{ $('Webhook').first().json.body.prompt }}","type":"string"},{"id":"37469d8b-e7cb-44cd-8d02-54d40f50f5c4","name":"sessionId","value":"={{ $('Webhook').first().json.body.sessionId }}","type":"string"},{"id":"e5eb6b16-e4b6-42a1-9333-7e49a4ca3d18","name":"initial-prompt","value":"","type":"string"},{"id":"c469f671-7797-48ab-b389-f46261a087af","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,840],"id":"33276e65-8f71-45b5-8a08-ad0e4ee19ea6","name":"Set Agent Input"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"68b9f01e-ce2a-4e6b-8719-61d4e9cc4f12","leftValue":"={{ $('Set Agent Input').item.json.model }}","rightValue":"2.5","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[600,140],"id":"9925c50f-1f7c-4e30-a400-4581ea0548a3","name":"If not 2.5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $binary[ Object.keys($binary)[0] ].mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"c69f084a-8519-496d-97c4-e23bd6e8e08d"}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"66de4170-3473-4ada-ae9a-50cb9e2badd6","leftValue":"={{ $binary[ Object.keys($binary)[0] ].mimeType }}","rightValue":"text/csv","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"csv"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da6ece55-9a13-4bb6-8ee9-c2a3d8dbd727","leftValue":"={{ $binary[ Object.keys($binary)[0] ].mimeType }}","rightValue":"text/plain","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"txt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f80018f3-4f54-4394-995c-61c35312426d","leftValue":"={{ $binary[ Object.keys($binary)[0] ].mimeType }}","rightValue":"application/json","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"json"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0bb8caea-8c68-49de-a41f-c7bd5fff0a4d","leftValue":"={{ $binary[ Object.keys($binary)[0] ].mimeType }}","rightValue":"text/html","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"html"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1860,340],"id":"851d539b-0d36-45f8-8a3d-bf920025d95a","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b19d97b3-c55e-4c76-885e-ff4b625f15f3","leftValue":"$json.mimeType","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2040,380],"id":"3c9a123c-d93d-4ae1-9291-b592c9922883","name":"Has Mime Type"},{"parameters":{"html":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-1300,500],"id":"d9db08b2-02d5-4dee-bcd9-90bf863c0049","name":"Markdown1"},{"parameters":{"operation":"pdf","binaryPropertyName":"={{ Object.keys($node[\"Split Files\"].binary)[0] }}","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1460,-160],"id":"db1eb33d-bfa6-4924-930c-eb85ed35bc77","name":"Extract from pdf"},{"parameters":{"binaryPropertyName":"={{ Object.keys($node[\"Split Files\"].binary)[0] }}","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1460,0],"id":"3f7f6793-40d8-4855-a0aa-71a6c9d21d8c","name":"Extract from csv"},{"parameters":{"operation":"text","binaryPropertyName":"={{ Object.keys($binary)[0] }}","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1460,160],"id":"78051868-7712-463e-bf73-e9902d658637","name":"Extract from txt"},{"parameters":{"jsCode":"// Clear hyperlinks, images and extra new lines\nfor (const item of $input.all()) {\n  item.json.data = item.json.data.replace(/!\\[[^\\]]+\\([^\\)]+\\)/g, '');  \n  item.json.data = item.json.data.replace(/\\[.*?\\]\\(.*?\\)/g, '');  \n  item.json.data = item.json.data.replace(/\\n{2,}/g, '');  \n  item.json.data = item.json.data.replace(/\\n*/g, '');  \n  item.json.data = item.json.data.replace(/\\\\/g, '');  \n  item.json.data = item.json.data.replace(/ {2,}/g, '');  \n  item.json.data = item.json.data.replace(/\\*{2,}/g);  \n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,500],"id":"8eb8b846-abf2-42bd-89d9-62abec959f90","name":"Clean up"},{"parameters":{"operation":"extractHtmlContent","sourceData":"binary","dataPropertyName":"={{ Object.keys($node[\"Split Files\"].binary)[0] }}","extractionValues":{"values":[{"key":"data","cssSelector":"body","returnValue":"html"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1460,500],"id":"976d8296-694b-4e0b-a61f-916d03d2985b","name":"HTML"},{"parameters":{"jsCode":"const binary = $input.item.binary;\nconst items = [];\n\nfor (const key in binary) {\n  items.push({\n    binary: {\n      [key]: binary[key]\n    },\n    json: {\n      fileName: binary[key].fileName,\n      mimeType: binary[key].mimeType,\n      propertyName: key\n    }\n  });\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2200,380],"id":"f428854f-1161-4347-9267-77e3ff9aa62e","name":"Split Files"},{"parameters":{"assignments":{"assignments":[{"id":"4aa7234a-2cd0-4168-95a2-8c22cfeeb34b","name":"prompt","value":"==================================\nUse this data from a file as context to extend the prompt provided\n{{  $json.data }}\n=================================","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-760,160],"id":"3f110676-9886-4013-91e7-3ee42cffdfa6","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"7034cda4-25ba-4a3a-a77a-311fa8c9a3dd","name":"data","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1240,-160],"id":"0f24e42f-5070-42ba-bfce-e41e4e8a600e","name":"Extract Text"},{"parameters":{"operation":"text","binaryPropertyName":"={{ Object.keys($binary)[0] }}","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1460,320],"id":"176af340-f65f-4381-8805-221292c2539b","name":"Extract json as txt"},{"parameters":{"numberInputs":5},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-920,100],"id":"35ed7e05-a0a7-46e2-9a05-6bfc27cbf22d","name":"Merge"},{"parameters":{"jsCode":"const items = $input.all();\nconst result = [{prompt: ''}]\n\nfor(const item of items) {\n  result[0].prompt += '\\n' + item.json.prompt\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-600,160],"id":"90fcce8b-4a54-456f-9501-a8a576e8c0ce","name":"Merge file prompts"},{"parameters":{"content":"## Processing file attachments","height":860,"width":1820,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2240,-180],"id":"fd564dbb-c713-4b7a-993b-518aea094466","name":"Sticky Note2"},{"parameters":{"jsCode":"const items = $input.all();\nconst result = [{prompt: ''}]\n\nfor(const item of items) {\n  result[0].prompt += '\\n' + item.json.prompt\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-220,840],"id":"3b3e5c75-cbee-46aa-97dd-1360bda5b807","name":"Merge all prompts"},{"parameters":{"inputText":"={{ $json.output }}","categories":{"categories":[{"category":"Answered","description":"=if \"{{ $('Webhook').first().json.body.prompt }}\" was answered"},{"category":"Not Answered","description":"if \"{{ $('Webhook').first().json.body.prompt }}\" was not answered"}]},"options":{"fallback":"other"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[1060,220],"id":"6ec01fc3-ac36-4b6f-8478-1c785a959267","name":"Text Classifier"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1140,380],"id":"4e5ad1e1-7264-47d4-90cb-e87cf66e2c2e","name":"Google 1.5","credentials":{"googlePalmApi":{"id":"IKgE6TeBWwJejVu3","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"af2cef53-e76e-4901-8078-345f6f6d0cfe","name":"output","value":"={{ $('AI Agent').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1560,80],"id":"c16630cf-91a4-40e0-905d-dd64739b1703","name":"Use Previous Answer"},{"parameters":{"promptType":"define","text":"={{ $('Set Agent Input').item.json.prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1480,240],"id":"43453977-3e86-4721-99c0-898ca62b7537","name":"AI Agent (again)"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17-thinking","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1500,420],"id":"db4a6176-fe9a-457f-be80-bb796af33918","name":"Gemini 2.5 Again","credentials":{"googlePalmApi":{"id":"IKgE6TeBWwJejVu3","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-380,840],"id":"144ccc9e-ae17-4229-a2d1-21052e4d905d","name":"Concat User + Files"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"715281c4-8090-4e03-8e9b-76518806ebd8","leftValue":"={{ $json.body.agent }}","rightValue":"n8n","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2700,900],"id":"f055b3df-72fa-491f-9cc7-ed45df61f1e0","name":"Not N8N"},{"parameters":{"assignments":{"assignments":[{"id":"221207a0-7757-4780-8824-06c3e6edf188","name":"workflowId","value":"={{ $('Webhook').item.json.body.model.split(';')[0] }}","type":"string"},{"id":"a3cb8c1f-6094-4128-8502-234f24af32f1","name":"async","value":"={{ $('Webhook').item.json.body.model.split(';')[1] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2480,1000],"id":"c37bedc0-0d7c-474e-90b0-b28de5e6bcb9","name":"Set Wokflow"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $json.workflowId }}","cachedResultName":"={{ $json.workflowId }}"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":"={{ $json.async == \"false\" }}"}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2260,1000],"id":"55292c3e-e61b-48e7-9799-53947133593a","name":"Execute Workflow"}],"connections":{"Webhook":{"main":[[{"node":"Not N8N","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Check Model":{"main":[[{"node":"Auto Model","type":"main","index":0}],[{"node":"Query Model","type":"main","index":0}],[]]},"Auto Model":{"main":[[{"node":"Gemini Dynamic","type":"main","index":0}],[{"node":"If not 2.5","type":"main","index":0}]]},"Gemini Dynamic":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Dynamic Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"MCP Personal":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Gemini 2.5":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Query Model":{"main":[[{"node":"Set output","type":"main","index":0}]]},"Set output":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Has Attachments":{"main":[[{"node":"Split Files","type":"main","index":0}],[]]},"Set Agent Input":{"main":[[{"node":"Check Model","type":"main","index":0}]]},"If not 2.5":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Has Mime Type":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract from pdf","type":"main","index":0}],[{"node":"Extract from csv","type":"main","index":0}],[{"node":"Extract from txt","type":"main","index":0}],[{"node":"Extract json as txt","type":"main","index":0}],[{"node":"HTML","type":"main","index":0}]]},"Markdown1":{"main":[[{"node":"Clean up","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Markdown1","type":"main","index":0}]]},"Extract from pdf":{"main":[[{"node":"Extract Text","type":"main","index":0}]]},"Extract from csv":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Clean up":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Split Files":{"main":[[{"node":"Has Mime Type","type":"main","index":0}]]},"Extract from txt":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Edit Fields":{"main":[[{"node":"Merge file prompts","type":"main","index":0}]]},"Extract Text":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Extract json as txt":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Merge file prompts":{"main":[[{"node":"Concat User + Files","type":"main","index":0}]]},"Merge all prompts":{"main":[[{"node":"Set Agent Input","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Use Previous Answer","type":"main","index":0}],[{"node":"AI Agent (again)","type":"main","index":0}],[{"node":"Use Previous Answer","type":"main","index":0}]]},"Google 1.5":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Use Previous Answer":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"AI Agent (again)":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Gemini 2.5 Again":{"ai_languageModel":[[{"node":"AI Agent (again)","type":"ai_languageModel","index":0}]]},"Concat User + Files":{"main":[[{"node":"Merge all prompts","type":"main","index":0}]]},"Not N8N":{"main":[[{"node":"Has Attachments","type":"main","index":0},{"node":"Concat User + Files","type":"main","index":1}],[{"node":"Set Wokflow","type":"main","index":0}]]},"Set Wokflow":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"localhost:5678","connection":"keep-alive","content-length":"478","pragma":"no-cache","cache-control":"no-cache","sec-ch-ua-platform":"\"Windows\"","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept":"application/json, text/plain, */*","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","content-type":"multipart/form-data; boundary=----WebKitFormBoundarysQ1dztm2NPSaUrBC","dnt":"1","sec-ch-ua-mobile":"?0","origin":"http://localhost:4200","sec-fetch-site":"same-site","sec-fetch-mode":"cors","sec-fetch-dest":"empty","referer":"http://localhost:4200/","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9,fr;q=0.8"},"params":{},"query":{},"body":{"prompt":"","agent":"n8n","model":"Uq95Jc0YSZNC9kSw;false","sessionId":"c9ec9822-9dfb-4894-acfd-2cf961c5eee5"},"webhookUrl":"http://localhost:5678/webhook/chat","executionMode":"production"}}]},"versionId":"9bbb13f7-d5e5-469f-8f9e-0e2ce6fad913","triggerCount":1,"tags":[{"createdAt":"2025-05-15T20:37:02.868Z","updatedAt":"2025-05-15T20:37:02.868Z","id":"TMzcuCmW4HzM9Lpq","name":"Clarivate"}]}