n8n/workflows/Full-Agent-DfkkFsPpyyefYu50
{"createdAt":"2025-05-29T23:26:23.219Z","updatedAt":"2025-05-29T23:32:08.292Z","id":"DfkkFsPpyyefYu50","name":"Full Agent","active":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"f4893c35-a05a-4078-8e7b-67077fe1a09b","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=You are a helpful assistant trying to answer the user's prompt.\ntoday's date is  '{{ $today.format('dd-MMM-yyyy') }}'"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[220,0],"id":"e194c30c-051d-4310-8ff6-a5bfd1d41e42","name":"AI Agent"},{"parameters":{"sseEndpoint":"http://n8n:5678/mcp/personal/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[500,200],"id":"e1306f60-db8f-4d36-a558-7b97f2cc09df","name":"MCP Personal"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17-thinking","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[180,200],"id":"b530db8c-2ae8-4ca7-bbb0-efed775fd66c","name":"Gemini 2.5","credentials":{"googlePalmApi":{"id":"IKgE6TeBWwJejVu3","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":3},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[320,200],"id":"54890de9-36b1-44d1-af0f-bf8e807a2968","name":"Memory","credentials":{"postgres":{"id":"7HcLObtYR7CTyRNA","name":"Postgres account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[800,200],"id":"acb7290d-3afa-4b83-bc9c-774385cbad82","name":"Think"}],"connections":{"MCP Personal":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Gemini 2.5":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0cdd796f-d74a-42ae-9383-e741621abfbe","triggerCount":0,"tags":[{"createdAt":"2025-05-14T13:21:15.039Z","updatedAt":"2025-05-14T13:21:27.500Z","id":"zvxLZ2Q6Bs7fI6v4","name":"Sub-workflow"}]}