n8n/workflows/Gemini-Dynamic-Agent-hnfYR14LR9bMHLnf
{"createdAt":"2025-05-14T12:47:07.954Z","updatedAt":"2025-05-16T21:05:54.537Z","id":"hnfYR14LR9bMHLnf","name":"Gemini Dynamic Agent","active":false,"nodes":[{"parameters":{"inputText":"={{ $json.prompt }}","categories":{"categories":[{"category":"Simple","description":"Use this value if the question asked is simple to answer, does not require much thinking or steps to resolve the question and does not require any tools such as access to email, calendar, notion or does not mention tools at all"},{"category":"Medium","description":"Use this value if the question requires some thinking but does not require access to any external data. Do not use if you are not able to answer the questions  or does not mention tools at all"},{"category":"Complex","description":"Use this value if you no other value applies"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[-380,700],"id":"35138d1a-dcb9-4eda-9768-12f70e0e7655","name":"Text Classifier"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[140,380],"id":"c091b1fb-dc21-44cc-92b5-15ff4b15e57d","name":"Simple Model","credentials":{"googlePalmApi":{"id":"IKgE6TeBWwJejVu3","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[140,200],"id":"1d42078a-ba48-405f-bf57-e0ef2e245dd1","name":"Simple Gemini LLM"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[120,600],"id":"d4aca96b-936e-4630-88f2-2307683081e7","name":"Medium Gemini LLM"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[140,780],"id":"c0c4cce5-297b-4df3-8597-2541f7f8b8e5","name":"Medium Gemini Model","credentials":{"googlePalmApi":{"id":"IKgE6TeBWwJejVu3","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=today is : {{ $today.format('yyyy-MM-dd') }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[100,1020],"id":"46876fbf-fc9a-42f4-96e2-63bad38f6090","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17-thinking","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[20,1220],"id":"40dae157-adda-42b2-8e32-573589185657","name":"Expert Gemini Model","credentials":{"googlePalmApi":{"id":"IKgE6TeBWwJejVu3","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId ? $json.sessionId : 'General' }}","tableName":"sessions"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[160,1220],"id":"bf3d441b-f7d1-4c49-99e5-abe561b30a6b","name":"Gemini Chat Memory","credentials":{"postgres":{"id":"7HcLObtYR7CTyRNA","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"prompt"},{"name":"sessionId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-600,700],"id":"5234e55f-4ae1-4cde-bc28-39c54789f4cb","name":"When Executed by Another Workflow"},{"parameters":{"sseEndpoint":"http://n8n:5678/mcp/personal/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[360,1220],"id":"8c7e92a8-d8d5-4688-8b3c-7f3d3b61716e","name":"MCP Personal"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-380,880],"id":"4e67f91c-4103-4495-97f1-654dd0b7c9cc","name":"Gemini 2.0 Flash","credentials":{"googlePalmApi":{"id":"IKgE6TeBWwJejVu3","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[480,1220],"id":"2194ae1d-e1b9-4aba-8290-95f59ec905f5","name":"Think"}],"connections":{"Text Classifier":{"main":[[{"node":"Simple Gemini LLM","type":"main","index":0}],[{"node":"Medium Gemini LLM","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Simple Model":{"ai_languageModel":[[{"node":"Simple Gemini LLM","type":"ai_languageModel","index":0}]]},"Medium Gemini Model":{"ai_languageModel":[[{"node":"Medium Gemini LLM","type":"ai_languageModel","index":0}]]},"Expert Gemini Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Gemini Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"MCP Personal":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Gemini 2.0 Flash":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"prompt":"Use tools to look up Amara Willey's email","sessionId":"Session 1"}}]},"versionId":"ddabab8a-b44d-4e66-8270-da7b15914243","triggerCount":1,"tags":[{"createdAt":"2025-05-14T13:21:15.039Z","updatedAt":"2025-05-14T13:21:27.500Z","id":"zvxLZ2Q6Bs7fI6v4","name":"Sub-workflow"}]}