n8n/workflows/Gemini-Dynamic-Agent-hnfYR14LR9bMHLnf
{"createdAt":"2025-05-14T12:47:07.954Z","updatedAt":"2025-05-29T23:32:49.498Z","id":"hnfYR14LR9bMHLnf","name":"Gemini Dynamic Agent","active":false,"nodes":[{"parameters":{"inputText":"={{ $json.prompt }}","categories":{"categories":[{"category":"Simple","description":"Use this value if the question asked is simple to answer, does not require much thinking or steps to resolve the question and does not require any tools such as access to email, calendar, notion or does not mention tools at all"},{"category":"Medium","description":"Use this value if the question requires some thinking but does not require access to any external data. Do not use if you are not able to answer the questions  or does not mention tools at all"},{"category":"Complex","description":"Use this value if you no other value applies"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[-380,700],"id":"35138d1a-dcb9-4eda-9768-12f70e0e7655","name":"Text Classifier"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[120,440],"id":"c091b1fb-dc21-44cc-92b5-15ff4b15e57d","name":"Simple Model","credentials":{"googlePalmApi":{"id":"IKgE6TeBWwJejVu3","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[120,260],"id":"1d42078a-ba48-405f-bf57-e0ef2e245dd1","name":"Simple Gemini LLM"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[100,700],"id":"d4aca96b-936e-4630-88f2-2307683081e7","name":"Medium Gemini LLM"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[120,900],"id":"c0c4cce5-297b-4df3-8597-2541f7f8b8e5","name":"Medium Gemini Model","credentials":{"googlePalmApi":{"id":"IKgE6TeBWwJejVu3","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"prompt"},{"name":"sessionId"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-600,700],"id":"5234e55f-4ae1-4cde-bc28-39c54789f4cb","name":"When Executed by Another Workflow"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-380,880],"id":"4e67f91c-4103-4495-97f1-654dd0b7c9cc","name":"Gemini 2.0 Flash","credentials":{"googlePalmApi":{"id":"IKgE6TeBWwJejVu3","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"DfkkFsPpyyefYu50","mode":"list","cachedResultName":"Full Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[80,1200],"id":"b2702e11-9616-435d-bcd9-d83e03809da0","name":"Execute Workflow"}],"connections":{"Text Classifier":{"main":[[{"node":"Simple Gemini LLM","type":"main","index":0}],[{"node":"Medium Gemini LLM","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Simple Model":{"ai_languageModel":[[{"node":"Simple Gemini LLM","type":"ai_languageModel","index":0}]]},"Medium Gemini Model":{"ai_languageModel":[[{"node":"Medium Gemini LLM","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Gemini 2.0 Flash":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"prompt":"Use tools to look up Amara Willey's email","sessionId":"Session 1"}}]},"versionId":"b76f2b82-4f01-417a-9b33-059e82b690d8","triggerCount":1,"tags":[{"createdAt":"2025-05-14T13:21:15.039Z","updatedAt":"2025-05-14T13:21:27.500Z","id":"zvxLZ2Q6Bs7fI6v4","name":"Sub-workflow"}]}