n8n/workflows/Get-Site-Urls-ok6ravF6sGmCCHRF
{"createdAt":"2025-06-01T22:14:06.930Z","updatedAt":"2025-06-08T23:11:26.529Z","id":"ok6ravF6sGmCCHRF","name":"Get Site Urls","active":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-380,-60],"id":"b4ff07cf-4d3f-48db-ad91-a32422d52fc6","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-380,-240],"id":"68aee242-5394-4490-b6c6-2fd0803f1bfd","name":"When chat message received","webhookId":"69c850b5-b9f8-4265-96ee-4d5944b9882b"},{"parameters":{"assignments":{"assignments":[{"id":"f8893d41-50bc-44d5-961d-5a860e74faa6","name":"url","value":"={{ $json.chatInput ? $json.chatInput : $json.prompt }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,-140],"id":"f5f1371f-76af-4dd5-8ced-ca741d1a5b7c","name":"Set Url"},{"parameters":{"url":"={{ $json.url }}/robots.txt","options":{}},"id":"51842030-c147-4d8f-83a6-85d628be6bc8","name":"Fetch robots.txt","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[20,-140]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const robotsTxtContent = $json.data;\nconst sitemapUrls = [];\nconst disallowUrls = [];\nconst allowUrls = [];\nlet delay = 0;\nconst lines = robotsTxtContent.split('\\n');\n\nfor (const line of lines) {\n  const lowerLine = line.toLowerCase().trim();\n  if (lowerLine.startsWith('sitemap:')) {\n    sitemapUrls.push(line.substring(line.indexOf(':') + 1).trim());\n  } else if (lowerLine.startsWith('disallow:')) {\n    disallowUrls.push(line.substring(line.indexOf(':') + 1).trim());\n  } else if (lowerLine.startsWith('allow:')) {\n    allowUrls.push(line.substring(line.indexOf(':') + 1).trim());\n  } else if (lowerLine.startsWith('crawl-delay:')) {\n    const tempDelay = parseInt(line.substring(line.indexOf(':') + 1).trim());\n    delay = tempDelay > delay ? tempDelay : delay;\n  }\n}\nreturn { \n  siteMapUrls: sitemapUrls, \n  disallowed: disallowUrls, \n  allowed: allowUrls,\n  delay: delay\n};"},"id":"74b14ed4-efe3-4209-8794-5e54415ef116","name":"Parse robots.txt","type":"n8n-nodes-base.code","typeVersion":1,"position":[440,-340]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4d034e82-02b4-4687-84be-bcc84500c528","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,-140],"id":"cfef1ade-51c3-4662-a123-065e3f9d1575","name":"If"},{"parameters":{"fieldToSplitOut":"siteMapUrls","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[620,-340],"id":"3829d768-adbc-4777-8fd8-922dc3c63d2a","name":"Split Out"},{"parameters":{"url":"={{ $json.siteMapUrls ? $json.siteMapUrls : $json.loc }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,-340],"id":"d2de8909-fc93-49bf-9bb9-d86daccf4fa6","name":"Get SiteMap"},{"parameters":{"fieldToSplitOut":"sitemapindex.sitemap","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1420,-460],"id":"2b4251ac-a033-4dc8-9d73-6db081aeeb58","name":"Split Maps"},{"parameters":{"url":"={{ $json.loc }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,-460],"id":"d4fee1dd-0661-4c1f-a223-7a7b69c2be0c","name":"Get Sub SiteMap","retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[1900,-540],"id":"baf38501-530c-4ae3-a4aa-27c17951d396","name":"Read Sub Site Map"},{"parameters":{"options":{}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[1020,-340],"id":"873ea44a-f837-4bda-b31d-f7f62078c264","name":"Read Site Map"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e79c875-4dd1-4cb2-bd58-2c586bed06bd","leftValue":"={{ $json.sitemapindex }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1220,-340],"id":"66efd83d-b6e5-49dc-b4e1-c57582e6647c","name":"Has Sub Site Maps"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"215d1a96-4457-4420-a675-56954023e833","leftValue":"={{ $json.sitemapindex }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2160,-540],"id":"069ccf47-af84-4d05-9c26-6802a898c1fc","name":"Has Sub Sub Site Map"},{"parameters":{"fieldToSplitOut":"=urlset.url","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2400,-460],"id":"ec9a4ea5-e226-4256-b9b7-d265f2e8afcd","name":"Split Sub Urls"},{"parameters":{"fieldToSplitOut":"=urlset.url","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1420,-260],"id":"8923d6b2-e21b-4e71-8087-233dd84e66c9","name":"Split Urls"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2600,-280],"id":"26b686d1-b653-4e8a-a712-e9f7c2ec8bb5","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"7bb45bd9-5c4a-4ba8-bdf1-d5b1617880f2","name":"loc","value":"={{ $json.loc }}","type":"string"},{"id":"7c21dcb1-9049-48eb-b114-711fbb5431d2","name":"lastmod","value":"={{ $json.lastmod }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3020,-280],"id":"d76805e7-6bcc-40ab-9afe-d31b7287919e","name":"Edit Fields"},{"parameters":{"method":"HEAD","url":"={{ $json.loc }}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3460,-460],"id":"54211447-4512-4e43-af84-97d09e1f655f","name":"HTTP Request","onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const date = $json.headers.date\nconst original = new Date(date);\n\nreturn { date: original.toISOString()};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3700,-480],"id":"b7b609c6-fd23-4b20-881b-b21bb46ddcda","name":"Parse Head Date"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const date = $json.lastmod;\nconst original = new Date(date);\n\nreturn { date: original.toISOString()};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3540,-260],"id":"733aa81a-93c6-490d-bc06-cc491a61facc","name":"Parse Date"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6dc2f956-2282-4eee-b769-78fdea4ce9e7","leftValue":"={{ $json.lastmod }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3240,-280],"id":"30df7405-6da5-46a4-8a12-1219bb82f88f","name":"Has Last Mod"},{"parameters":{"assignments":{"assignments":[{"id":"ac2ab674-fe48-432e-9145-7dc218d906aa","name":"loc","value":"={{ $('Has Last Mod').item.json.loc }}","type":"string"},{"id":"a250e08c-63a1-49d4-a691-6af10136224c","name":"lastmod","value":"={{ $json.date }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3900,-480],"id":"a3c10469-e17c-481a-9e54-b2cac1392d38","name":"Set Last Mod from Head"},{"parameters":{"assignments":{"assignments":[{"id":"ac2ab674-fe48-432e-9145-7dc218d906aa","name":"loc","value":"={{ $('Has Last Mod').item.json.loc }}","type":"string"},{"id":"a250e08c-63a1-49d4-a691-6af10136224c","name":"lastmod","value":"={{ $json.date }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3760,-260],"id":"7e52256f-fc38-4311-abcb-1712ec274195","name":"Set Last Mod"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[4080,-280],"id":"ae7e9668-b1fe-4655-a5a6-6fc2cff701d0","name":"Merge Urls"},{"parameters":{"jsCode":"const disallowedPatterns = $('Parse robots.txt').isExecuted ? $('Parse robots.txt').first().json.disallowed : [];\nconst baseUrl = $('Set Url').isExecuted ? $('Set Url').first().json.url : '';\n\n\nconst toRegex = pattern => {\n  if (pattern === '/') return /^https?:\\/\\/[^\\/]+\\/?$/; // matches exactly root\n  const escaped = pattern\n    .replace(/[.+^${}()|[\\]\\\\]/g, '\\\\$&') // escape regex specials\n    .replace(/\\*/g, '.*')                // * to .*\n    .replace(/\\?/g, '.')                 // ? to .\n    .replace(/^/, '.*');                 // allow domain+prefix before\n\n  return new RegExp(escaped);\n};\nconst disallowedRegex = disallowedPatterns.map(toRegex);\nlet delay = $('Parse robots.txt').isExecuted ? $('Parse robots.txt').first().json.delay : 0;\nif (delay < 10) {\n  delay = 10;\n}\n\nconst urls = $input.all().filter(item => {\n  const url = item.json.loc;\n  return !disallowedRegex.some(pattern => pattern.test(url));\n}).map(item => item.json );\n\nreturn { \n  name: baseUrl,\n  sheets: [\n    {\n      name: 'config',\n      columns: ['property', 'value'],\n      values: [\n        {\n          \"property\": \"baseUrl\",\n          \"value\": baseUrl\n        },\n        {\n          \"property\": \"delay\",\n          \"value\": delay\n        }\n      ]\n    },\n    {\n      name: 'urls',\n      columns: ['loc', 'lastmod'],\n      values: urls\n    }\n  ] \n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4300,-280],"id":"63802c0e-08a9-4c06-83f5-e7ad678679af","name":"Filter + Set"},{"parameters":{"content":"## Load robots.txt","height":320,"width":580},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[380,-420],"id":"3c4d831a-ab07-4e37-b885-ac4b87939806","name":"Sticky Note"},{"parameters":{"content":"## Parse site maps","height":580,"width":1740},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1000,-680],"id":"d37dcf1a-4535-48c5-af8f-e4d7a08a06ae","name":"Sticky Note1"},{"parameters":{"content":"## Parse 2nd level site map","height":260,"width":1200,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1380,-560],"id":"9fb08147-ee14-4614-ae9f-ba0857598d40","name":"Sticky Note2"},{"parameters":{"content":"## Process the urls","height":580,"width":1460},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2980,-680],"id":"137df939-c959-4757-97a5-0236bd522dc3","name":"Sticky Note3"},{"parameters":{"content":"## TODO\n\nCould look directly for site map files\n/sitemap-index.xml, /sitemap-index.txt, /sitemap.php, /sitemap.xml.gz, /sitemap/, /sitemap/sitemap.xml, /sitemap/index.xml. ","width":940,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[360,40],"id":"6c3a109d-4a0b-4a4d-93d1-fb5a0c84b285","name":"Sticky Note4"},{"parameters":{"batchSize":1000,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2800,-280],"id":"bc54d068-af13-4d46-8198-28cffa58f6e8","name":"Loop Over Items"},{"parameters":{"workflowId":{"__rl":true,"value":"5GAsl3OrUI8nzAZy","mode":"list","cachedResultName":"Save Site to Sheets"},"workflowInputs":{"mappingMode":"defineBelow","value":{"name":"={{ $json.name }}","sheets":"={{ $json.sheets }}"},"matchingColumns":[],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"sheets","displayName":"sheets","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[4520,-280],"id":"68556a14-05b6-4c6d-9001-ac9bba7c18b6","name":"Execute Workflow"}],"connections":{"When chat message received":{"main":[[{"node":"Set Url","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Set Url","type":"main","index":0}]]},"Fetch robots.txt":{"main":[[{"node":"If","type":"main","index":0}]]},"Parse robots.txt":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Set Url":{"main":[[{"node":"Fetch robots.txt","type":"main","index":0}]]},"If":{"main":[[{"node":"Parse robots.txt","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Get SiteMap","type":"main","index":0}]]},"Get SiteMap":{"main":[[{"node":"Read Site Map","type":"main","index":0}]]},"Split Maps":{"main":[[{"node":"Get Sub SiteMap","type":"main","index":0}]]},"Get Sub SiteMap":{"main":[[{"node":"Read Sub Site Map","type":"main","index":0}]]},"Read Site Map":{"main":[[{"node":"Has Sub Site Maps","type":"main","index":0}]]},"Read Sub Site Map":{"main":[[{"node":"Has Sub Sub Site Map","type":"main","index":0}]]},"Has Sub Site Maps":{"main":[[{"node":"Split Maps","type":"main","index":0}],[{"node":"Split Urls","type":"main","index":0}]]},"Has Sub Sub Site Map":{"main":[[],[{"node":"Split Sub Urls","type":"main","index":0}]]},"Split Sub Urls":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Split Urls":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Has Last Mod","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Parse Head Date","type":"main","index":0}]]},"Parse Head Date":{"main":[[{"node":"Set Last Mod from Head","type":"main","index":0}]]},"Has Last Mod":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Parse Date","type":"main","index":0}]]},"Parse Date":{"main":[[{"node":"Set Last Mod","type":"main","index":0}]]},"Set Last Mod from Head":{"main":[[{"node":"Merge Urls","type":"main","index":0}]]},"Set Last Mod":{"main":[[{"node":"Merge Urls","type":"main","index":1}]]},"Merge Urls":{"main":[[{"node":"Filter + Set","type":"main","index":0}]]},"Filter + Set":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eaf859ae-cf49-42d2-8e25-7351dcb89181","triggerCount":0,"tags":[{"createdAt":"2025-05-14T13:21:15.039Z","updatedAt":"2025-05-14T13:21:27.500Z","id":"zvxLZ2Q6Bs7fI6v4","name":"Sub-workflow"}]}