n8n/workflows/models)-avIn9YQCEI19gz2C
{"createdAt":"2025-05-15T20:42:06.682Z","updatedAt":"2025-05-23T00:01:33.729Z","id":"avIn9YQCEI19gz2C","name":"A&G AI List of models (/ag/models)","active":true,"nodes":[{"parameters":{"path":"ag/models","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-420,-60],"id":"a991f65b-525e-4227-8538-8b08d592bc91","name":"Webhook","webhookId":"01694b16-b3c6-4210-aac0-9b853c93ae51"},{"parameters":{"url":"https://agai-platform-api.dev.int.proquest.com/large-language-models/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-200,-60],"id":"335e1ea5-896d-49b6-868b-6d3345b933fa","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"G2YEUtOcE1s9Omfb","name":"A&G AI Platform"}}},{"parameters":{"fieldToSplitOut":"resources","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[20,-60],"id":"6cd8d4bb-ffb3-4859-9767-538030c34aac","name":"Split Out"},{"parameters":{"method":"POST","url":"=https://agai-platform-api.dev.int.proquest.com{{ $json.href }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"prompt\": \"Reply with just one word 'True'\",\n  \"max_tokens\": 200,\n  \"temperature\": 0.7,\n  \"num_results\": 1,\n  \"streaming\": \"False\"\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,-60],"id":"ef9d6835-60b9-4a76-96b0-5739df530460","name":"Query Model","credentials":{"httpHeaderAuth":{"id":"G2YEUtOcE1s9Omfb","name":"A&G AI Platform"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8e0df7ff-fc58-4f79-becb-e14e600bc212","leftValue":"={{ $json.error.message }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[420,-60],"id":"b6f746ed-ed11-4503-b718-fa9ca30d5979","name":"If Error"},{"parameters":{"assignments":{"assignments":[{"id":"40cb73e3-9f26-4d61-8668-f889de94ec69","name":"value","value":"={{ $('Split Out').item.json.href }}","type":"string"},{"id":"725ef548-a89a-49f0-99cf-7f6077d3828a","name":"name","value":"={{ $('Split Out').item.json.display }}","type":"string"},{"id":"d805c4e0-a1ae-41a7-bb53-3efa6614c46d","name":"error","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,-200],"id":"ed03a5ef-aaa0-427b-88f6-28ddc1aeb09c","name":"Set Error"},{"parameters":{"assignments":{"assignments":[{"id":"f47b4320-3949-4924-b480-3d5f638ccb82","name":"value","value":"={{ $('Split Out').item.json.href }}","type":"string"},{"id":"a2432ffb-9d91-4e43-bf87-b6794305cc50","name":"name","value":"={{ $('Split Out').item.json.display }}","type":"string"},{"id":"f0ffd1df-2e37-40c0-a7f5-3b997f26cfec","name":"error","value":false,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,20],"id":"b204671d-dccf-4f80-9c5b-a09c2b7c2869","name":"Set Ok"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[880,-80],"id":"34fef11f-0154-4012-8e01-1de909896ec7","name":"Merge"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"models","include":"allFieldsExcept","fieldsToExclude":"error","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1220,-80],"id":"d52b802b-aca4-4b80-acb3-b6e67de26cdc","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15697710-7ae0-45a0-8448-315e5fd4aa9e","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1060,-80],"id":"ec4cde7c-0f17-489d-ac5b-a5c53673f3b3","name":"Filter"}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Query Model","type":"main","index":0}]]},"Query Model":{"main":[[{"node":"If Error","type":"main","index":0}]]},"If Error":{"main":[[{"node":"Set Error","type":"main","index":0}],[{"node":"Set Ok","type":"main","index":0}]]},"Set Error":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Set Ok":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Aggregate":{"main":[[]]},"Filter":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"name":"First item","code":1}}]},"versionId":"749cb4a3-99fb-4ad1-bb46-5126ab576f52","triggerCount":1,"tags":[{"createdAt":"2025-05-15T20:37:02.868Z","updatedAt":"2025-05-15T20:37:02.868Z","id":"TMzcuCmW4HzM9Lpq","name":"Clarivate"},{"createdAt":"2025-05-16T21:04:05.074Z","updatedAt":"2025-05-16T21:04:05.074Z","id":"PNc62NqrV8lJ9RyV","name":"API"}]}