n8n/workflows/My-workflow-4r18memyJvQlWGx8
{"createdAt":"2025-06-03T21:44:18.300Z","updatedAt":"2025-06-03T21:44:18.300Z","id":"4r18memyJvQlWGx8","name":"My workflow","active":false,"nodes":[{"parameters":{"url":"https://www.clarivate.com/robots.txt","options":{}},"id":"fb5a7d5d-4cd8-4752-89fc-ffed4261e2ff","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-1200,100]},{"parameters":{"functionCode":"// Extract sitemap URLs from robots.txt content\nconst robotsTxt = $input.item.json.data;\nconst sitemapRegex = /Sitemap:\\s*(.+)/gi;\nlet sitemapUrls = [];\nlet match;\n\nwhile ((match = sitemapRegex.exec(robotsTxt)) !== null) {\n  sitemapUrls.push({ url: match[1].trim() });\n}\n\nreturn [{ json: { sitemapUrls } }];"},"id":"23e69ed0-a5c7-4a06-bc21-22b2ee817fa2","name":"Extract Sitemap URLs","type":"n8n-nodes-base.function","typeVersion":1,"position":[-1000,100]},{"parameters":{"batchSize":1,"options":{}},"id":"ad2a3754-d188-4f20-8e40-80044ad1a6ad","name":"SplitInBatches","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[-800,100]},{"parameters":{"functionCode":"// Extract the current sitemap URL\nconst item = $input.item;\nconst sitemapUrl = item.json.url;\n\nreturn [{ json: { url: sitemapUrl } }];"},"id":"a26d739f-5362-402f-98e0-2fae87387f7c","name":"Prepare Sitemap URL","type":"n8n-nodes-base.function","typeVersion":1,"position":[-600,100]},{"parameters":{"url":"={{ $json.url }}","options":{}},"id":"42a864c5-6892-4dad-9b78-4eaafab36832","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-400,100]},{"parameters":{"functionCode":"// Parse XML sitemap response\nconst xml = $input.item.json.data;\nlet urls = [];\nlet subSitemaps = [];\n\n// Parse <url> elements (for regular sitemaps)\nconst urlRegex = /<loc>([^<]+)<\\/loc>/g;\nlet match;\n\nwhile ((match = urlRegex.exec(xml)) !== null) {\n  const url = match[1].trim();\n  // Check if this is a sub-sitemap or a regular URL\n  if (url.endsWith('.xml') || url.includes('sitemap')) {\n    subSitemaps.push({ url });\n  } else {\n    urls.push({ url });\n  }\n}\n\nreturn [{ json: { urls, subSitemaps } }];"},"id":"f9394448-2a4a-4635-bc60-da31345c5e9e","name":"Parse Sitemap","type":"n8n-nodes-base.function","typeVersion":1,"position":[-200,100]},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"174a6bf2-8ad6-413d-a7c6-7c9ba87e4dc2","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2,"position":[0,0]},{"parameters":{"functionCode":"// Store all the URLs\nlet allUrls = [];\n\nfor (const item of $input.all) {\n  if (item.json.urls && Array.isArray(item.json.urls)) {\n    allUrls = allUrls.concat(item.json.urls);\n  }\n}\n\n// Remove duplicates by URL\nconst uniqueUrls = allUrls.filter((obj, index, self) =>\n  index === self.findIndex((t) => t.url === obj.url)\n);\n\nreturn [{ json: { scrapableUrls: uniqueUrls } }];"},"id":"a6764523-177c-40b5-9f7a-da41af028fff","name":"Combine All URLs","type":"n8n-nodes-base.function","typeVersion":1,"position":[200,100]},{"parameters":{},"id":"89929dbb-1cc2-4fc9-ab9d-d83181b9b15b","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[400,100]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.subSitemaps !== undefined && $json.subSitemaps.length > 0 }}","value2":true}]}},"id":"c1fcdd0f-a830-44dc-bcf5-bf6ffd2ddb6f","name":"Has Sub-sitemaps?","type":"n8n-nodes-base.if","typeVersion":1,"position":[0,200]},{"parameters":{"functionCode":"// Extract sub-sitemap URLs\nconst subSitemaps = $input.item.json.subSitemaps;\nif (!subSitemaps || subSitemaps.length === 0) {\n  return [];\n}\n\nreturn subSitemaps.map(sitemap => ({ json: sitemap }));"},"id":"b3e61607-cec8-44f1-9d6b-e9e7e178ab8e","name":"Extract Sub-sitemaps","type":"n8n-nodes-base.function","typeVersion":1,"position":[200,200]},{"parameters":{"functionCode":"// Extract the URLs only\nconst scrapableUrls = $input.item.json.scrapableUrls;\nconst urls = scrapableUrls.map(item => item.url);\n\nreturn [{ json: { urls } }];"},"id":"3fc8fe63-af40-409c-9772-641038d2c207","name":"Format Final Output","type":"n8n-nodes-base.function","typeVersion":1,"position":[600,100]}],"connections":{"HTTP Request":{"main":[[{"node":"Extract Sitemap URLs","type":"main","index":0}]]},"Extract Sitemap URLs":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]},"SplitInBatches":{"main":[[{"node":"Prepare Sitemap URL","type":"main","index":0}]]},"Prepare Sitemap URL":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Parse Sitemap","type":"main","index":0}]]},"Parse Sitemap":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Has Sub-sitemaps?","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Combine All URLs","type":"main","index":0}]]},"Combine All URLs":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Format Final Output","type":"main","index":0}]]},"Has Sub-sitemaps?":{"main":[[{"node":"Extract Sub-sitemaps","type":"main","index":0}]]},"Extract Sub-sitemaps":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8dfd7ada-629e-457f-8176-9ce252bb453c","triggerCount":0,"tags":[]}