n8n/workflows/Read-Sites-apaxrxBQuiCJPUBe
{"createdAt":"2025-06-08T23:13:16.308Z","updatedAt":"2025-06-10T00:13:21.113Z","id":"apaxrxBQuiCJPUBe","name":"Read Sites","active":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"35a85be2-edf4-43af-ba35-b7a9c3ecd6d3","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-200],"id":"d29db3ff-84f3-4fc4-b6d5-061395185f68","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"value":"1oHcDtVOwY6qPiHjkfE5xecZFPh7zV7oH","mode":"list","cachedResultName":"crawl","cachedResultUrl":"https://drive.google.com/drive/folders/1oHcDtVOwY6qPiHjkfE5xecZFPh7zV7oH"},"whatToSearch":"files"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,-60],"id":"17215163-283a-471d-9f38-c46199d5bb64","name":"Load Site Files","credentials":{"googleDriveOAuth2Api":{"id":"4tSSiJ15YoIbwLqk","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a118db2a-5bbc-4f58-a869-065aa315d6f8","leftValue":"={{ $json.property }}","rightValue":"delay","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[980,40],"id":"bf023fbd-cd80-4c24-bd04-ce7305986998","name":"Filter"},{"parameters":{"assignments":{"assignments":[{"id":"ba416cd2-e7ab-43cf-b636-066b71ad0345","name":"delay","value":"={{ $json.value }}","type":"number"},{"id":"448b90b1-7ad5-448a-b2df-a0a8202619de","name":"id","value":"={{ $('Loop Over Sites').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1220,40],"id":"3cfafdcc-1b92-4684-8e04-ae2aaef5b8f1","name":"Get Delay"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"config","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[780,40],"id":"0876ba65-fff0-4aea-a6cb-7b953e0e9096","name":"Load Config","credentials":{"googleSheetsOAuth2Api":{"id":"JciWyLPuKD95R2Fa","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"urls","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1460,40],"id":"5d1e7b78-7ab8-4c9a-94a4-b19226931e8e","name":"Load Urls","credentials":{"googleSheetsOAuth2Api":{"id":"JciWyLPuKD95R2Fa","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d2871b92-9047-4de8-a399-730a16f7e45e","leftValue":"={{ $json.lastupdated }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"cad16850-1ac6-4fb1-89db-66c6b731ec40","leftValue":"={{ $json.lastupdated != '' && ((new Date($json.lastupdated)) < (new Date($json.lastmod))) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1660,40],"id":"f960ce7b-f7a1-4bef-8cf5-a33f568654fa","name":"Filter Urls","alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"BY27Su2WI08iJ6bP","mode":"list","cachedResultName":"Process Url"},"workflowInputs":{"mappingMode":"defineBelow","value":{"url":"={{ $json.loc }}"},"matchingColumns":["url"],"schema":[{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2340,80],"id":"ae550d64-500c-4a77-b404-d3576d49baa6","name":"Execute Workflow"},{"parameters":{"amount":"={{ $('Get Delay').item.json.delay }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2540,100],"id":"37d4a4d1-01d9-4d77-a9b3-c7ae75b730d4","name":"Wait","webhookId":"eafd8bb0-29a3-4293-882c-ad60f69f9b3f"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"={{ $('Get Delay').item.json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"urls","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["loc"],"schema":[{"id":"loc","displayName":"loc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastmod","displayName":"lastmod","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastupdated","displayName":"lastupdated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"error","displayName":"error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2360,-180],"id":"ce55f247-94ac-49f8-a2d3-f570f1f836fd","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"JciWyLPuKD95R2Fa","name":"Google Sheets account"}}},{"parameters":{"options":{"reset":"={{ $prevNode.name === 'Filter Empty' }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2100,40],"id":"6eb748a7-0b5c-40d7-919a-6aef2ed86331","name":"Loop Over Urls"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[520,-40],"id":"523d6955-3b57-4dfa-9b89-6f3c41705ae0","name":"Loop Over Sites"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"06211322-b722-4ed4-9d9d-41bc8fe370b7","leftValue":"={{ Object.keys($json).length === 0 }}","rightValue":1,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1840,40],"id":"a430bd87-7500-45bf-bd1e-1206d2c5756c","name":"Filter Empty"},{"parameters":{"assignments":{"assignments":[{"id":"56483b8e-3ae9-4f11-820a-a61cb87331fb","name":"row_number","value":"={{ $('Loop Over Urls').item.json.row_number }}","type":"number"},{"id":"1601444e-371d-4977-989f-10f8af16d673","name":"loc","value":"={{ $json.url }}","type":"string"},{"id":"6c932737-660c-4515-a375-d6f4e1cd3adb","name":"lastmod","value":"={{ $('Loop Over Urls').item.json.lastmod }}","type":"string"},{"id":"9a8c05fc-6914-4ca4-aef1-f242ce5feb3e","name":"lastupdated","value":"={{ $json.processed ? new Date().toISOString() : '' }}","type":"string"},{"id":"93739b8f-9955-48d5-8da4-bb6c716a4b21","name":"error","value":"={{ $json.error }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2720,100],"id":"d8b3a170-b51e-4a46-80df-961e67002691","name":"Create Updated Row"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Load Site Files","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Load Site Files","type":"main","index":0}]]},"Load Site Files":{"main":[[{"node":"Loop Over Sites","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Get Delay","type":"main","index":0}]]},"Get Delay":{"main":[[{"node":"Load Urls","type":"main","index":0}]]},"Load Config":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Load Urls":{"main":[[{"node":"Filter Urls","type":"main","index":0}]]},"Filter Urls":{"main":[[{"node":"Filter Empty","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Create Updated Row","type":"main","index":0}]]},"Loop Over Urls":{"main":[[{"node":"Google Sheets","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Loop Over Sites":{"main":[[],[{"node":"Load Config","type":"main","index":0}]]},"Filter Empty":{"main":[[{"node":"Loop Over Sites","type":"main","index":0}],[{"node":"Loop Over Urls","type":"main","index":0}]]},"Create Updated Row":{"main":[[{"node":"Loop Over Urls","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Sites","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eefcd709-17a5-41bb-9af1-e7fccbbd2780","triggerCount":0,"tags":[{"createdAt":"2025-05-14T13:21:15.039Z","updatedAt":"2025-05-14T13:21:27.500Z","id":"zvxLZ2Q6Bs7fI6v4","name":"Sub-workflow"}]}