n8n/workflows/Read-it-Later-0Al9cqcyTyspOAE0
{"createdAt":"2025-05-29T23:34:25.290Z","updatedAt":"2025-05-31T01:12:24.349Z","id":"0Al9cqcyTyspOAE0","name":"Read it Later","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-860,-320],"id":"5c8e0e1a-ebae-4cd1-815b-90f071f1ccd8","name":"When chat message received","webhookId":"4e86fc25-0daa-496c-b23b-33dd745aafc0"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Review the information and extract information from the content.\nExtract a title for the article.\nExtract a summary of the article.\nExtract the type of content. if the content is a youtube video set the type as \"Video\" otherwise use \"Article\".\nEvaluate the priority of the article, use the value:\n- \"2 - High\" if the article is recent and has lot of interesting content\n- \"1 - Medium\" if the article is somewhat recent or has a lot of valuable content\n- \"0 - Low\" otherwise\nCreate a list of values to describe the content of the document, store the value in a tags field.\nAdd \"User Interface\" tag value if the article is discussing creating User interfaces.\nAdd \"Architecture\" tag value if the article contains one or more development architecture topic either on the front end or the back end\nAdd \"Back End\" tag value if the topic is related to back end or cloud technologies\nAdd \"General\" if no other tag values apply to the article\nDo not add any other tags other than those.\n\n\n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[800,-80],"id":"cf05cd12-2b23-45a9-b43f-95339cba9ee4","name":"Basic LLM Chain"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[800,120],"id":"5fc8cee9-2d17-44bb-88b7-de5d32f45f4e","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"IKgE6TeBWwJejVu3","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"url":"={{  $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-280,-100],"id":"4eac502c-1d7c-4be3-af82-ba5da7df6371","name":"HTTP Request"},{"parameters":{"html":"={{ $json.data }}","destinationKey":"output","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[120,40],"id":"b2e10073-fe53-4dd6-8f66-847070a6de80","name":"Markdown"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"2019fa3b-8750-803d-9cef-d78f733750f0","mode":"list","cachedResultName":"Read It Later","cachedResultUrl":"https://www.notion.so/2019fa3b8750803d9cefd78f733750f0"},"title":"={{ $json.output.title }}","propertiesUi":{"propertyValues":[{"key":"URL|url","urlValue":"={{ $('Set Url').item.json.url }}"},{"key":"Type|select","selectValue":"={{ $json.output.type }}"},{"key":"Priority Level|select","selectValue":"={{ $json.output.priority }}"},{"key":"Tags|multi_select","multiSelectValue":"={{ $json.output.tags }}"},{"key":"Reading Status|status","statusValue":"Not started"}]},"blockUi":{"blockValues":[{"textContent":"={{ $json.output.summary }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1180,-200],"id":"beb69fc3-798a-42de-93f2-016685a722bb","name":"Notion","credentials":{"notionApi":{"id":"8uPuNr69KMKrR4KG","name":"Notion account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"title\": \"title of the article\",\n\t\"type\": \"Article\",\n    \"priority\": \"2 - High\",\n    \"tags\": [\"Architecture\", \"User Interface\"],\n    \"summary\": \"summary of the article\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[960,120],"id":"047495bd-5984-4197-bef2-407c632b6fc1","name":"Structured Output Parser"},{"parameters":{"assignments":{"assignments":[{"id":"efadbb0c-f9d7-4da4-994e-1a46b5bff8ed","name":"output","value":"=<a href=\"{{ $json.url }}\">{{ $json.name }}</a> was added to notion's Read it later","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1380,-200],"id":"0bc1d211-645e-48ab-9971-6e72aebebbb7","name":"Set Output"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-880,-140],"id":"8e4cbc8c-c3ed-4306-b6ed-f392d48233df","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"f8893d41-50bc-44d5-961d-5a860e74faa6","name":"url","value":"={{ $json.chatInput ? $json.chatInput : $json.prompt }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,-200],"id":"8080d5e5-e629-4430-8ad7-b54185062485","name":"Set Url"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.url }}","rightValue":"www.youtube.com","operator":{"type":"string","operation":"contains"},"id":"a7f53bb4-78a0-484c-abf4-068863e46762"}],"combinator":"and"},"renameOutput":true,"outputKey":"YouTube"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8d2d3073-8bf9-4aaa-b1df-b62e1e681429","leftValue":"={{ $json.url }}","rightValue":"www.youtube.com","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-440,-340],"id":"abd28cce-d6b6-4df3-9098-446a3b4b2f4a","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a699728-7a7d-4e5d-993a-88fccea0c2a9","leftValue":"={{ $binary.data }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-120,-80],"id":"b26ee9a7-fb9b-422b-ba37-ecb7a69db88f","name":"If"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $binary.data.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"39b469bf-002d-4b56-9abe-6d650750a692"}],"combinator":"and"},"renameOutput":true,"outputKey":"pdf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"10997835-14f2-4730-8e6f-ade0b3d0661a","leftValue":"={{ $binary.data.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Other"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[100,-180],"id":"02c9eb94-7666-4029-87bd-9242fbdeafaf","name":"Switch1"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[320,-320],"id":"18b1227b-0ba8-4c57-8b75-121cf2d46759","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"60dd5736-b586-4395-84ce-cc28fbc932df","name":"output","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,-320],"id":"bb57bd0c-6f7a-4ab8-8bac-1056aa721fbb","name":"Set Content"},{"parameters":{"assignments":{"assignments":[{"id":"c5bcaf61-8d81-4a1d-90a2-2fc6bbe1b335","name":"output","value":"This type of link is not currently handled, back to coding :)","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,-140],"id":"2531b1ab-4ab8-4f62-8ca8-a1d30fa90126","name":"Set Error"},{"parameters":{"jsCode":"const { URL } = require('url');\n\nconst youtubeUrl = $input.first().json.url; // Assuming the URL is sent in a 'url' field\nlet videoId = '';\n\nif (youtubeUrl) {\n    const url = new URL(youtubeUrl);\n    if (url.hostname === 'www.youtube.com' || url.hostname === 'youtube.com') {\n        videoId = url.searchParams.get('v');\n    } else if (url.hostname === 'youtu.be') {\n        videoId = url.pathname.substring(1);\n    }\n}\n\nreturn [{ json: { videoId: videoId } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-200,-600],"id":"7be4cedc-80b3-4bff-9ec4-56a15bc2fdbc","name":"Get Video Id"},{"parameters":{"url":"=https://www.googleapis.com/youtube/v3/videos?part=snippet&id={{ $json.videoId }}","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[140,-600],"id":"f189c853-57f4-4405-8d0a-5355a287e442","name":"Get Video Details","credentials":{"httpQueryAuth":{"id":"NTBzQAQXOUOuopUi","name":"Youtube API v3"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\": {\n    \"title\": \"{{ $json.items[0].snippet.title }}\",\n    \"description\": \"{{ $json.items[0].snippet.localized.description.replace(/\\n/g, '') }}\",\n    \"type\": \"Video\"\n  }\n}\n ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,-600],"id":"d6cececf-8313-4b1e-b738-abd3529d6159","name":"Set Video Fields"}],"connections":{"When chat message received":{"main":[[{"node":"Set Url","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Notion","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Notion":{"main":[[{"node":"Set Output","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Set Url","type":"main","index":0}]]},"Set Url":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get Video Id","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Markdown","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Extract from File","type":"main","index":0}],[{"node":"Set Error","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Set Content","type":"main","index":0}]]},"Set Content":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Get Video Id":{"main":[[{"node":"Get Video Details","type":"main","index":0}]]},"Get Video Details":{"main":[[{"node":"Set Video Fields","type":"main","index":0}]]},"Set Video Fields":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b442cc6b-dd9a-4185-ac87-ffd89e41146b","triggerCount":0,"tags":[{"createdAt":"2025-05-14T13:21:15.039Z","updatedAt":"2025-05-14T13:21:27.500Z","id":"zvxLZ2Q6Bs7fI6v4","name":"Sub-workflow"},{"createdAt":"2025-05-16T21:04:05.074Z","updatedAt":"2025-05-16T21:04:05.074Z","id":"PNc62NqrV8lJ9RyV","name":"API"}]}