n8n/workflows/Save-Site-to-Sheets-5GAsl3OrUI8nzAZy
{"createdAt":"2025-06-06T00:52:13.992Z","updatedAt":"2025-06-08T23:11:11.258Z","id":"5GAsl3OrUI8nzAZy","name":"Save Site to Sheets","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"name"},{"name":"sheets","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"9d1d460a-1f39-4b18-909d-5685c33ea780","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"ee55f361-8438-42c8-bc4b-b5566bd91b49","name":"name","value":"={{ $json.name.replace(/^https?:\\/\\/|\\/.*$/g, '') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"5aa062ab-046b-4b24-82e8-fd661d4d90b2","name":"Edit Fields"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}","limit":5,"filter":{"folderId":{"__rl":true,"value":"1oHcDtVOwY6qPiHjkfE5xecZFPh7zV7oH","mode":"list","cachedResultName":"crawl","cachedResultUrl":"https://drive.google.com/drive/folders/1oHcDtVOwY6qPiHjkfE5xecZFPh7zV7oH"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[440,0],"id":"415091a6-37cb-4d9a-acf6-f50ccf660526","name":"Google Drive","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"4tSSiJ15YoIbwLqk","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ab5e4adb-797f-444a-8b90-83de418b9136","leftValue":"={{ $('Google Drive').isExecuted && $('Google Drive').item.json.id == null }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[620,0],"id":"4a8dc065-2eb6-4bd1-8004-12b3226a3750","name":"If File Exist"},{"parameters":{"resource":"spreadsheet","title":"={{ $('Edit Fields').item.json.name }}","sheetsUi":{"sheetValues":[{"title":"config"},{"title":"urls"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[820,100],"id":"fc326834-565f-43de-beeb-247a8c75b004","name":"Create Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"JciWyLPuKD95R2Fa","name":"Google Sheets account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.spreadsheetId }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1oHcDtVOwY6qPiHjkfE5xecZFPh7zV7oH","mode":"list","cachedResultName":"crawl","cachedResultUrl":"https://drive.google.com/drive/folders/1oHcDtVOwY6qPiHjkfE5xecZFPh7zV7oH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1000,100],"id":"9063dcf1-bf88-4931-9242-090c5eb99c0b","name":"Move File","credentials":{"googleDriveOAuth2Api":{"id":"4tSSiJ15YoIbwLqk","name":"Google Drive account"}}},{"parameters":{"jsCode":"const sheets = $('When Executed by Another Workflow').first().json.sheets;\nlet configSheet = null;\nsheets.forEach(sheet => {\n  if (sheet.name == 'config') {\n    configSheet = sheet;\n  }\n})\nconst values = configSheet.values;\nreturn values;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,100],"id":"6b853c69-fdef-43fc-a418-1ce35649ddea","name":"Format Config"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Create Sheet').item.json.spreadsheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"config","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"property","displayName":"property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"value","displayName":"value","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1340,100],"id":"43d6e453-8185-4525-98b2-903bae07e3a3","name":"Update Config","credentials":{"googleSheetsOAuth2Api":{"id":"JciWyLPuKD95R2Fa","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"={{ $('Set Sheet id').first().json.sheetid }}","mode":"id"},"sheetName":{"__rl":true,"value":"urls","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["loc"],"schema":[{"id":"loc","displayName":"loc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"lastmod","displayName":"lastmod","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1880,-20],"id":"5e0e5374-68af-433f-94aa-0662b419fc3e","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"JciWyLPuKD95R2Fa","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ef32a07a-7aa8-485a-8002-91796161259f","name":"sheetid","value":"={{ $('Create Sheet').isExecuted ? $('Create Sheet').item.json.spreadsheetId : $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1540,-20],"id":"740f03f3-300f-48c2-ba46-0a02b4de4045","name":"Set Sheet id"},{"parameters":{"jsCode":"const sheets = $('When Executed by Another Workflow').first().json.sheets;\nlet urlSheet = null;\nsheets.forEach(sheet => {\n  if (sheet.name == 'urls') {\n    urlSheet = sheet;\n  }\n})\nconst values = urlSheet.values;\nreturn values;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1720,-20],"id":"8c577e81-3f7c-4fd2-973c-1e613cba4865","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"If File Exist","type":"main","index":0}]]},"If File Exist":{"main":[[{"node":"Set Sheet id","type":"main","index":0}],[{"node":"Create Sheet","type":"main","index":0}]]},"Create Sheet":{"main":[[{"node":"Move File","type":"main","index":0}]]},"Move File":{"main":[[{"node":"Format Config","type":"main","index":0}]]},"Format Config":{"main":[[{"node":"Update Config","type":"main","index":0}]]},"Update Config":{"main":[[{"node":"Set Sheet id","type":"main","index":0}]]},"Set Sheet id":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bfbdd4ed-7ad6-4733-bbe9-c94d310b56d5","triggerCount":0,"tags":[{"createdAt":"2025-05-14T13:21:15.039Z","updatedAt":"2025-05-14T13:21:27.500Z","id":"zvxLZ2Q6Bs7fI6v4","name":"Sub-workflow"}]}