n8n/workflows/tasks)-9l9eUYN0wJjWoRyu
{"createdAt":"2025-05-25T15:19:29.221Z","updatedAt":"2025-05-25T21:59:26.444Z","id":"9l9eUYN0wJjWoRyu","name":"Saved Tasks (/tasks)","active":true,"nodes":[{"parameters":{"path":"=/tasks/:name","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,220],"id":"749b778c-da60-4d9f-88fa-274c4d29423e","name":"Get Task","webhookId":"744451ae-dd16-49aa-a8f3-f13c9577bafc"},{"parameters":{"path":"/tasks","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"378dfeb3-1a7b-49e6-83d6-6637031bbcbd","name":"Get Tasks","webhookId":"3ebf6b23-7297-4983-9cf9-19736f7c9c6d"},{"parameters":{"jsCode":"const aggregatedNames = [];\n\nfor (const item of $input.all()) {\n  const cleanedItem = {\n    name: item.json['\\uFEFFname'],\n    run: item.json.run == \"TRUE\",\n    agent: item.json.agent,\n    model: item.json.model,\n    prompt: item.json.prompt,\n    description: item.json.description,\n  };\n  aggregatedNames.push(cleanedItem);\n}\n\nreturn [{ tasks: aggregatedNames }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,0],"id":"973cd8c4-9c5e-4136-bada-566bb427b377","name":"Code"},{"parameters":{"fileSelector":"/data/shared/tasks.csv","options":{"mimeType":"text/csv"}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[220,0],"id":"c1f87309-96bb-4e57-8f63-246accd2f11d","name":"Read Tasks File"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[440,0],"id":"36a65cf6-3065-4d59-9bbf-7c7401bbb0d0","name":"Extract Tasks"},{"parameters":{"fileSelector":"/data/shared/tasks.csv","options":{"mimeType":"text/csv"}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[220,220],"id":"5a18f108-0d3c-4de7-ba3c-769f548df118","name":"Read Tasks File 1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[420,220],"id":"10e53864-460c-4707-81b3-0c1f89fb6561","name":"Extract Tasks 1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5f545405-2bb1-4d92-8f69-19c60aa236bf","leftValue":"={{ $json['﻿name'] }}","rightValue":"={{ $('Get Task').item.json.params.name }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[640,220],"id":"4783940d-4fd1-45ae-9311-6d6146d8d676","name":"Filter"}],"connections":{"Get Tasks":{"main":[[{"node":"Read Tasks File","type":"main","index":0}]]},"Get Task":{"main":[[{"node":"Read Tasks File 1","type":"main","index":0}]]},"Read Tasks File":{"main":[[{"node":"Extract Tasks","type":"main","index":0}]]},"Extract Tasks":{"main":[[{"node":"Code","type":"main","index":0}]]},"Read Tasks File 1":{"main":[[{"node":"Extract Tasks 1","type":"main","index":0}]]},"Extract Tasks 1":{"main":[[{"node":"Filter","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"82683697-ff97-45f7-b8bd-6084a6dea4b5","triggerCount":2,"tags":[{"createdAt":"2025-05-16T21:04:05.074Z","updatedAt":"2025-05-16T21:04:05.074Z","id":"PNc62NqrV8lJ9RyV","name":"API"}]}