n8n/workflows/Test-vYXygy3CUK0YJ3NT
{"createdAt":"2025-05-18T14:37:58.058Z","updatedAt":"2025-05-18T15:16:34.970Z","id":"vYXygy3CUK0YJ3NT","name":"Test","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-420,-40],"id":"f58418ab-0d83-4be7-8d1b-ae3b29a39f8f","name":"When clicking ‘Test workflow’"},{"parameters":{"mode":"raw","jsonOutput":"{json: [{\n  \"my_field_1\": \"value\",\n  \"type\": 1\n},\n{\n  \"my_field_1\": \"value2\",\n  \"type\": 2\n}]}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-200,-40],"id":"af2637b2-0eab-4519-b165-536534ee724c","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"json","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[20,-40],"id":"8c5675e1-6880-475b-a100-2acfd2c5b5bb","name":"Split Out"},{"parameters":{"jsCode":"const items = $input.all();\nconst result = [{prompt: ''}]\n\nfor (const item of items) {\n  result[0].prompt += item.json.my_field_1 + ' '\n}\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[840,-40],"id":"803f9d07-c920-4dc1-85f1-70a28037f709","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.json.type }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"744bd658-9079-447d-87f4-eeb9ec89ab4d"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f00042c0-0922-44d7-af03-5172276f9adb","leftValue":"={{ $json.json.type }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[240,-40],"id":"59b859e9-f29c-46f9-a69c-71c714add5af","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"c3220fdc-4770-4437-b2c8-42b8623dd651","name":"Type","value":"Type1","type":"string"},{"id":"74b3fd01-cc0b-4898-bcf5-4f9679362739","name":"my_field_1","value":"={{ $json.json.my_field_1 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,-140],"id":"183ae43b-9b99-49b7-a35a-dba372eda232","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"c3220fdc-4770-4437-b2c8-42b8623dd651","name":"Type","value":"Type2","type":"string"},{"id":"74b3fd01-cc0b-4898-bcf5-4f9679362739","name":"my_field_1","value":"={{ $json.json.my_field_1 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,40],"id":"38fa8786-d17e-46cf-92cd-e866407e5de5","name":"Edit Fields2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[640,-40],"id":"b629c536-c059-42c5-9846-2ba7e7c09c30","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"11123b12-ff2e-41c6-b0b6-fdcf8dbf5b68","name":"Test","value":"test value","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-200,160],"id":"28c789d9-8bf4-4b16-b16a-5139381b64a6","name":"Edit Fields3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,200],"id":"93ab5121-e474-4abf-8fa4-b73bb566a7f3","name":"Edit Fields4"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3f30a73f-4dca-4552-8c4b-6e14b0ef41ff","triggerCount":0,"tags":[]}