n8n/workflows/worflows)-VKeIHWEOd6mSbitL
{"createdAt":"2025-05-20T21:55:41.144Z","updatedAt":"2025-05-20T22:17:13.768Z","id":"VKeIHWEOd6mSbitL","name":"List of workflow (n8n/worflows)","active":true,"nodes":[{"parameters":{"path":"n8n/workflows","responseMode":"lastNode","responseData":"allEntries","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"0360cb4a-6c3f-470e-856f-3c48a169ac8d","name":"Webhook","webhookId":"6098cce3-8e9e-4928-a604-d05ebee08505"},{"parameters":{"filters":{"tags":"Sub-workflow,API"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[220,0],"id":"e063642c-bb75-4c88-b6e5-76577b06e23a","name":"n8n","credentials":{"n8nApi":{"id":"mxdQKLqDFlaxP7Jh","name":"n8n account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-180],"id":"edbccc5c-6269-4917-95b8-f03afa18a65b","name":"When clicking ‘Test workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"f4b3caa7-917e-4bcf-86c7-73008026c5a5","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"a238f733-5088-46c5-ac5b-c58ed86f0aeb","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"a1cb5bdd-0797-4ab6-a300-1d15a89ee7a8","name":"async","value":"={{ $json.tags.map(item => item.name ).filter(item => item == 'Async').length >0 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"4767ffdf-1540-4137-9ef9-a2acd6c1ac12","name":"Set Output"}],"connections":{"Webhook":{"main":[[{"node":"n8n","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Set Output","type":"main","index":0}]]},"Set Output":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"891df4a1-fac5-4d34-8942-83c220da931d","triggerCount":1,"tags":[{"createdAt":"2025-05-16T21:04:05.074Z","updatedAt":"2025-05-16T21:04:05.074Z","id":"PNc62NqrV8lJ9RyV","name":"API"}]}